# Simple Linear Regression

## Importing the libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Importing the dataset

In [4]:
salary_data = pd.read_csv('Salary_Data.csv')

(30, 2)

## Splitting the dataset into the Training set and Test set

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
train, test = train_test_split(salary_data, test_size=0.2, random_state=0)

In [7]:
train

    YearsExperience    Salary
27              9.6  112635.0
11              4.0   55794.0
17              5.3   83088.0
22              7.9  101302.0
5               2.9   56642.0
16              5.1   66029.0
8               3.2   64445.0
14              4.5   61111.0
23              8.2  113812.0
20              6.8   91738.0
1               1.3   46205.0
29             10.5  121872.0
6               3.0   60150.0
4               2.2   39891.0
18              5.9   81363.0
19              6.0   93940.0
9               3.7   57189.0
7               3.2   54445.0
25              9.0  105582.0
3               2.0   43525.0
0               1.1   39343.0
21              7.1   98273.0
15              4.9   67938.0
12              4.0   56957.0

In [8]:
test

    YearsExperience    Salary
2               1.5   37731.0
28             10.3  122391.0
13              4.1   57081.0
10              3.9   63218.0
26              9.5  116969.0
24              8.7  109431.0

## Training the Simple Linear Regression model on the Training set

## Predicting the Test set results

## Visualising the Training set results

## Visualising the Test set results